<p>
  <strong>Policy Number:</strong>
  <%= insurance_policy.policy_number %><br />

  <strong>Vendor:</strong>
  <%= insurance_policy.vendor_id %><br />

  <strong>Due Date:</strong>
  <%= insurance_policy.due_date %><br />

  <strong>Number Of Payments Left:</strong>
  <%= insurance_policy.number_of_payments_left %>
</p>


