<% title "Edit Insurance Policy" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", company_insurance_policy_path(current_company, @insurance_policy) %> |
  <%= link_to "View All", company_insurance_policies_path(current_company) %>
</p>
