<% title "Edit Service Group" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", company_service_path(current_company, @service_group) %> |
  <%= link_to "View All", company_service_groups_path(current_company) %>
</p>
