<% title "Admins Dashboard" %>

<div id="admin-dashboard">
<ul id="dashboard">
	<li> <%= link_to "See all Deleted Items", company_deleted_items_path(current_company) %> </li>
	<li> <%= link_to "See all Completed Tasks", company_admins_completed_tasks_path(current_company) %> </li>
</ul>	
</div>


