body {
  background-color: #fff;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
	margin: 0;
	padding: 0;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/*** Common ***/

.pagination {
	margin-top:15px;
}

.pagination a {
	text-decoration:none;
	padding:4px 6px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}




.smallbtn {
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
	display: inline-block;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.blue, .pagination a {
	color: #eeeeee;
	border: 1px solid #042040;
	background: #0b5ea6 url(../images/blueBtnSmall.jpg) repeat-y;
}

.blue:hover, .pagination a:hover {
	border-color: #1d4e9c;
	background: #0e274b url(../images/blueBtnSmallHover.jpg) repeat-x;
}

.green {
	color: #fff;
	border: 1px solid #223e19;
	background: #42a33e url(../images/greenBtnSmall.jpg) repeat-x;
}

.green:hover {
	color: #fff;
	border: 1px solid #399e00;
	background: #246500 url(../images/greenBtnSmallHover.jpg) repeat-x;
}

.smallertxt {
	font-size: 0.8em;
}

/*** Header Container ***/
#header_container {
	width: 100%;
	min-width: 1020px;
	margin: 0;
	background-color: #063263;
	padding: 0;
	border-bottom: 2px solid #3875d7;
}

#header {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	color: #eeeeee;
	height: 90px;
}

#user_nav {
	width: 100%;
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
	display: inline-block;
	font-size: 0.8em;
	
}

#menu {
	
	list-style-type: none;
	margin: 5px 0 10px;
	padding: 0;
	z-index: 1001;
}

#menu li {
	float: left;
	margin-right: 5px;
}

#menu li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1em;
	padding: 10px;
	border: 1px solid #042040;
	display: inline-block;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #0b5ea6 url(../images/bluemenu.jpg) repeat-x;
}

#menu a:hover {
	background: #0e274b url(/images/bluemenuhover.jpg) repeat-x;
	border-color: #0b5ea6;
}

#menu li ul { display: none;padding: 0;
	margin: 0; position: absolute;
	list-style-type: none;
	background-color:#063263;
	padding: 10px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	z-index: 1000;
}
#menu li:hover ul {	
	
}

#menu li ul li {
	margin-top: 5px;
	float: none;
}



/*** Header ***/


/*** Orders ***/
.silverBoarderd {
	font-size:1.1em;
	background-color:#999;
}

.silverBoarderd th {
	padding: 10px 5px;
}


#order_date tr td  {
	padding-bottom:10px;
}

.silverBG {
	background-color:#999;	
}

#services_popup {
	width: 740px;
	padding:20px;
}

#servicegroup li {
	max-height:50px;
}


.bigBtn {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	margin:10px;
	padding:10px;
	width:200px;
	height:50px;
	border: 1px solid #042040;
	display: inline-block;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color:silver;
}

#items .item td {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
}

#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
