<% if !@policies.blank? %>
  <% @policies.each do |policy| %>
	<p><%= link_to policy.policy_number, company_insurance_policy_path(current_company, policy) %></p>
	<% if !policy.tasks.blank? %>
	  <ul><% for item in policy.items %>
	    <li><%= link_to "Payment made on " + item.created_at.strftime('%m/%d/%y'), company_order_path(current_company, item.order_id) %></li>
	  <% end %></ul>
	<% else %>
	   did search, but No Task for policy
	<% end %>
  <% end %>
<% else %>
  <p>Does not have any Insurance Policies.</p>
<% end %>
