<% if !@policies.blank? %>
  <% @policies.each do |policy| %>
	<p><%= link_to policy.policy_number, company_insurance_policy_path(current_company, policy) %></p>
  <% end %>
<% else %>
  <p>Does not have any Insurance Policies.</p>
<% end %>
