<%= render :partial => "common/new_comment", :locals => { :commentable => @customer } %>

<div id="main-customer-comments">
	<% unless @comments.blank? %>
	<strong>Notes</strong><br />
		<%= render :partial => "customer_comments", :locals => {:comments => @comments }%>
	<% else %>
	<p>
		Has no Notes.
	</p>
	<% end %>	
		
</div>

