<%= render :partial => "common/new_comment", :locals => { :commentable => @customer } %>

<div id="customer-comments">
	<% unless @customer.comments.blank? %>
	<strong>Notes</strong><br />
		<% for comment in @customer.comments %>
		  <%= render :partial => "common/comment", :locals => { :comment => comment }%>
		<% end %>
	<% else %>
	<p>
		Has no Notes.
	</p>
	<% end %>		
</div>

