<p><% unless @order.closed? %>
	<b>This order is still open!</b>
<% else %>
<b>Invoiced at:</b> <%= @order.assigned_company.name unless @order.assigned_company_id.blank? %><br />
<b>By:</b> <%= @order.user.full_name unless @order.user_id.blank? %>
<% end %>
</p>