<% title @order.closed? ? "Editing Closed Order" : "Order" %>

<% unless @order.closed && !current_user.role == "admin" %>
<p>
	<%= link_to "Add Product", company_all_services_popup_path(current_company), :rel => 'facebox', :class => "smallbtn blue" %> 
</p>
<% end %>

<div id="edit_order_form"><%= render :partial => "form", :locals => { :order => @order, :customer => @customer } %></div>


<p>
  <%= link_to "Show", company_order_path(current_company, @order) %> |
  <%= link_to "View All", company_orders_path %>
</p>
