<% title "Edit Order" %>


<p>
	<%= link_to "Add Product", company_all_services_popup_path(current_company), :rel => 'facebox', :class => "smallbtn blue" %> 
</p>

<div id="edit_order_form"><%= render "form" %></div>


<p>
  <%= link_to "Show", company_order_path(current_company, @order) %> |
  <%= link_to "View All", company_orders_path %>
</p>
