<% title "Report" %>

<ul id="dashboard">
	<li><%= link_to image_tag("/images/icons/32/chart_curve.png", :size => "32x32", :class => "dashIcon") + "Daily Reports" + "<br />
	<div class='subText'>Orders sold.</div>".html_safe, company_store_reports_path %></li>
	<li><%= link_to image_tag("/images/icons/32/chart_curve.png", :size => "32x32", :class => "dashIcon") + "Policies Sold" + "<br />
	<div class='subText'>All Policies sold.</div>".html_safe, company_policy_reports_path %></li>
	<% if current_user.role == "admin" %>
	<li><%= link_to image_tag("/images/icons/32/chart_curve.png", :size => "32x32", :class => "dashIcon") + "Full Reports" + "<br />
	<div class='subText'>Complete reports of all locations.</div>".html_safe, company_full_reports_path %></li>
	<% end %>
</ul>
