<% title current_company.name + " Policies Sold Reports" %>


<div class="selectContainer">
  <select id="theSelect">
      <option value="Today">Today</option>
      <option value="Yesterday">Yesterday</option>
  </select>
</div>

<% orders = @orders %>



<div id="reports" 
	

<div class="isToday"> 
<%= render :partial => "report_details", :locals => { :orders => orders.closed_today, :title => "Insurance Policies sold on " + Date.today.strftime('%m/%d/%Y') } %>
</div>
<div class="isYesterday"> 
<%= render :partial => "report_details", :locals => { :orders => orders.closed_yesterday, :title => "Insurance Policies  sold on " + Date.yesterday.strftime('%m/%d/%Y') } %>
</div>

</div>




