<% title current_company.name + " Policies Sold Reports" %>


<select id="thechoices">
	<option value="today">Today</option>
	<option value="yesterday">Yesterday</option>
</select>

<% orders = @orders %>



<div id="reports" 
	

<div id="today"> 
<%= render :partial => "report_details", :locals => { :orders => orders.closed_today, :title => "Today" } %>
</div>
<div id="yesterday"> 
<%= render :partial => "report_details", :locals => { :orders => orders.closed_yesterday, :title => "Yesterday" } %>
</div>

</div>




