<% title current_company.name + " Reports" %>
<script>
$(document).ready(function(){
	
	
   	    
  //      var value = $("#theSelect option:selected").val();
  //      var theDiv = $(".is" + value);
  //
  //      theDiv.slideDown();
  //      theDiv.siblings('[class^=is]').slideUp();
  //  });​
});
</script>

<div class="selectContainer">
        <select id="theSelect">
            <option value="Today">Today</option>
            <option value="Yesterday">Yesterday</option>
        </select>
    </div>

<% orders =  @orders %>



<div id="reports" 
	

<div class="isToday"> 
<%= render :partial => "store_reports_details", :locals => { :orders => orders.closed_today, :title => "Today" } %>
</div>
<div class="isYesterday"> 
<%= render :partial => "store_reports_details", :locals => { :orders => orders.closed_yesterday, :title => "Yesterday"  } %>
</div>

</div>
