<% title current_company.name + " Reports" %>

<div class="selectContainer">
  <select id="theSelect">
      <option value="Today">Today</option>
      <option value="Yesterday">Yesterday</option>
  </select>
</div>

<% orders =  @orders %>



<div id="reports" 
	

<div class="isToday"> 
<%= render :partial => "store_reports_details", :locals => { :orders => orders.closed_today, :title => "Sold on " + Date.today.strftime('%m/%d/%Y') } %>
</div>
<div class="isYesterday"> 
<%= render :partial => "store_reports_details", :locals => { :orders => orders.closed_yesterday, :title => "Sold on " + Date.yesterday.strftime('%m/%d/%Y')  } %>
</div>

</div>
